body {
    margin: 0;
    padding: 0;
}



#container {
    display:flex;
    flex-wrap: wrap;
    /* width:85%; */
    border: 1px solid;
    border-color: black;
    align-items: center;
    height:75%;
    
}

.gridsquare {

    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    border-color: black;
    height:15px;
    background-color: white;
    /* transition-property: background-color;
    transition: 1s ease-out 1s; */

}

/* .gridsquare:hover {
    background-color: rgb(43, 130, 252);
    /* transition-property: background-color;
    transition: 0s ease-out 0s; */


