body {
    margin: 0;
    padding: 0;
}

#container {
    /* display:flex; */
    
}

div {
    
}

#header {
    margin:auto;
    text-align: center;
}

#etch {
    margin:auto;
    align-items: center;
    border: 1px solid black;
    height:500px;
    width:500px;
    display:flex;
    flex-wrap: wrap;


}

.gridsquare {
    text-align: center;
    box-sizing: border-box;
    border: 1px rgb(227, 227, 227);
    border-style: none solid solid none;
    /* border-color: black; */
    /* height:125px;
    width:125px; */
    background-color: white;
    flex-basis: 50%;
    /* transition-property: background-color;
    transition: 1s ease-out 1s; */
}

#buttons {
    margin-top:25px;
    align-items: center;
    text-align: center;
}

button {
    
    
}